<div style="float:left; width: 100%" class="container">
    <div class="row" style="padding: 5px;">
        <div class="col-sm-2">User Login: </div>
        <div class="col-sm-8">
          <label>  <input type="text" [(ngModel)]="webUserItem.UserLogin" name="UserLogin" /></label>
        </div>
    </div>

    <div class="row" style="padding: 5px;">
        <div class="col-sm-2">First Name: </div>
        <div class="col-sm-8">
           <label> <input type="text" [(ngModel)]="webUserItem.FirstName" name="FirstName" /></label>
           
        </div>
    </div>

    <div class="row" style="padding: 5px;">
        <div class="col-sm-2">Last Name: </div>
        <div class="col-sm-8">
           <label> <input type="text" [(ngModel)]="webUserItem.LastName" name="LastName" /></label>
        </div>
    </div>

    <div class="row" style="padding: 5px;">
        <div class="col-sm-2">Display Name: </div>
        <div class="col-sm-8">
           <label> <input type="text" [(ngModel)]="webUserItem.DisplayName" name="DisplayName" /></label>
        </div>
    </div>

    <div class="row" style="padding: 5px;">
        <div class="col-sm-2">Display Name: </div>
        <div class="col-sm-8">
           <label> <input type="text" [(ngModel)]="webUserItem.RoleId" name="RoleId" /></label>
        </div>
    </div>

    <div class="row" style="padding: 5px;">
        <div class="col-sm-2">Email Id: </div>
        <div class="col-sm-8">
           <label> <input type="text" [(ngModel)]="webUserItem.EmailId" name="EmailId" /></label>
        </div>
    </div>

    <div class="row" style="padding: 5px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <label>
                <input type="checkbox" [(ngModel)]="webUserItem.Active" name="Active" /> Is Active ? </label>

        </div>
    </div>

</div>